/* Estilos para el header */
/* Diseño por defecto (pantallas grandes) */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    padding-left: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}nav a:hover{
    text-decoration: underline;
}
/* Estilos para las secciones */
section {
    padding: 20px;
    background-color: #f9f9f9;
    margin: 10px 0;
    border: 2px solid #ddd;
}
form{
    background-color: #eef;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
}
input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/*Estilos de la tabla*/
table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}table, th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

button{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px #ddd;
}button:hover{background-color: #4CAF50;animation: zoomIn 0.5s linear reverse;}
@keyframes zoomIn {from{scale: 1.0;}to{scale: 1.1;}}

footer{
    text-align: center;
    padding: 10px;
    background-color: #222;
    color:white;
}

@media (max-width: 320px) and (max-width: 425px) {
    
    header{
        max-width: 208px;
    }

    nav a {
        flex-direction: column;
        font-size: 16px;
        padding: 10px;
    }

    section{

        max-width: 180px;
        font-size: 16px;
    }

    form, footer {
        max-width: 185px;
        padding: 0;
        margin: 10px 0;
    }footer{padding:2px;max-width: 215px;}
    table{
        max-width: 10px;
        height: auto;
    }
}